@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html{
    overflow-y: scroll;
}

html, body {
    height: 100%;
    margin: 0;
}

:root {
    --cor-primaria: #FFF;
    --cor-secundaria: #000;
    --cor-fundo: #343A40;
    --cor-destaque: #0b680a;
    --cor-destaque-lighter: #20ff35;
    --cor-destaque-darker: #10520f;
    --cor-links: #20FF35;
    --warning-background: darkred;
    --warning: #FFF;
    --success-background: #155724;
    --success: #FFF;
    --input-box-shadow: rgba(108, 108, 108, .25);
    --input-focus-box-shadow: rgb(162, 163, 163);
    --btn-boxshadow: rgb(162, 163, 163);
    --form-border-color: #2b2b2b;
    --input-hover: #23272B;
    --input-cor-fundo: #FFF;
    --input-cor-placeholder: #495057;
    --btn-boxshadow-cookies: white;
    --table-background: #4B5258;
    --checkbox-accesskeys-on: #1500B8;
    --checkbox-accesskeys-off: #750000;
    --c-cor-primaria: #FFF;
    --c-cor-secundaria: white;
    --c-cor-fundo: black;
    --c-warning-background: darkred;
    --c-warning: #FFF;
    --c-success-background: #155724;
    --c-success: #FFF;
    --c-input-box-shadow: rgba(255, 255, 255, .25);
    --c-input-focus-box-shadow: yellow;
    --c-btn-boxshadow: yellow;
    --c-form-border-color: #767676;
    --c-input-hover: #23272B;
    --c-link-hover-outline: #FFF;
    --c-table-background: #2c2c2c;
    --c-linkskip-border: yellow;
}

.flexbox-buttons {
    display: flex;
    justify-content: space-between;
}
.flexbox-buttons button {
    margin-left: 5px;
    margin-right: 5px;
}
.flexbox-buttons a.fake-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.fake-btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-radius: 5px;
    border: 2px solid transparent !important;
    cursor: pointer;
    margin: 8px 0 0 0;
    background-color: var(--cor-fundo) !important;
    color: var(--cor-primaria) !important;
    height: 45px;
    text-decoration: none;
}

.fake-btn:focus,
.fake-btn:hover {
    box-shadow: 0 0 0 0.2rem var(--btn-boxshadow) !important;
}

input#contrast:checked~#page-wrapper .fake-btn {
    background-color: var(--c-cor-primaria) !important;
    color: var(--c-cor-fundo) !important;
    box-shadow: 0 0 0 .2rem var(--c-input-box-shadow);
}

input#contrast:checked~#page-wrapper .fake-btn:focus,
input#contrast:checked~#page-wrapper .fake-btn:hover {
    box-shadow: 0 0 0 0.2rem var(--c-btn-boxshadow) !important;
    border: 2px solid var(--c-cor-fundo) !important;
}

#confirmation-submit {
    display: block;
}

#confirmation {
    display: none;
}

#confirmation-submit:target .fake-submit-btn {
    display: none;
}

#confirmation-submit:target #confirmation {
    display: block;
}

#link-skip {
    background-color: var(--cor-secundaria) !important;
    color: var(--cor-primaria);
    outline: none !important;
    border: 2px solid transparent;
    border-left: none;
    padding: 2px 0 2px 0;
    width: 10em;
    left: 0%;
    top: 6em;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

#link-skip:hover, #link-skip:focus {
    border: 2px solid var(--cor-primaria);
    border-left: none;
    transform: translateX(0%);
}

input#contrast:checked~#page-wrapper #link-skip {
    color: var(--cor-primaria) !important;
}

input#contrast:checked~#page-wrapper #link-skip:hover,
input#contrast:checked~#page-wrapper #link-skip:focus {
    border: 2px solid var(--c-linkskip-border) !important;
    border-left: none !important;
}

#label-accesskeys {
    font-size: 1rem;
    width: 16em;
    margin-bottom: 20px;
    cursor: pointer;
}

#label-accesskeys:hover,
#label-accesskeys:focus {
    box-shadow: 0 0 0 0.2rem var(--btn-boxshadow)
}

#checkbox-accesskeys:checked~#label-accesskeys {
    background-color: var(--checkbox-accesskeys-off) !important;
    border-color: var(--checkbox-accesskeys-off) !important;
}

table {
    border-collapse: collapse;
}

th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

tbody tr:nth-child(odd) {
    background-color: var(--table-background);
}

tbody tr td {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

input#contrast:checked~#page-wrapper tbody tr:nth-child(odd) {
    background-color: var(--c-table-background);
}

input#contrast:checked~#page-wrapper .popup {
    border-color: var(--c-cor-primaria);
    background-color: var(--c-cor-fundo);
    color: var(--c-cor-primaria);
}

input#contrast:checked~#page-wrapper .popup .contnt p {
    color: var(--cor-primaria) !important;
}

input#contrast:checked~#page-wrapper .popup .close {
    color: var(--cor-primaria) !important;
    opacity: 0.9;
}

input#contrast:checked~#page-wrapper .popup .close:focus, 
input#contrast:checked~#page-wrapper .popup .close:hover {
    box-shadow: 0 0 0 2px var(--cor-primaria) !important;
}

input#close-alert-button:checked+#noscript-msg {
    display: none;
}

.link-padrao {
    color: var(--cor-links);
    text-decoration: underline var(--cor-links) !important;
    outline: 2px solid transparent;
    outline-offset: .4rem;
    transition: outline-offset .2s linear;   
}

.link-padrao:hover, .link-padrao:focus {
    color: var(--cor-links);
    outline: 2px solid var(--cor-primaria);
    outline-offset: .125rem; 
    font-weight: normal;
    text-decoration: underline !important;
}

input#contrast:checked~#page-wrapper .link-padrao:hover, 
input#contrast:checked~#page-wrapper .link-padrao:focus {
    outline: 2px solid var(--c-link-hover-outline)
}

noscript .jumbotron .close {
    top: 6px;
    right: 25px;
    opacity: 0.9;
    text-shadow: none;
    color: var(--warning);  
}

noscript .jumbotron .close:focus,
noscript .jumbotron .close:hover {
   outline: none;
   transition: none;
   border-radius: 5px;
   box-shadow: 0 0 0 2px var(--warning);
   opacity: 1 !important;
   cursor: pointer;
}

#img-logo {
    width: 3.8em;
}

.cifrao {
    fill: var(--cor-destaque-lighter);
}

.textos {
    fill: var(--cor-primaria);
}

#link-logo {
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border .4s ease;
    padding: 12px 7px 12px 7px;
    margin-right: 0;
}

input#contrast:checked~#page-wrapper nav a .cifrao,
input#contrast:checked~#page-wrapper nav a .textos {
    fill: var(--c-cor-fundo);
}

input#contrast:checked~.tooltip .tooltip-inner {
    border: 2px solid yellow !important;
    padding-top: 2px;
    padding-left: 6px;
}

input#contrast:checked~.tooltip .arrow::before {
    border-top-color:yellow!important;
}

input#contrast:checked~#page-wrapper {
    color: var(--c-cor-primaria) !important;
    background-color: var(--c-cor-fundo) !important;
}

input#contrast:checked~#page-wrapper nav {
    background-color: var(--c-cor-secundaria);
}

input#contrast:checked~#page-wrapper nav label,
input#contrast:checked~#page-wrapper nav a {
    color: var(--c-cor-fundo) !important;
    cursor: url('../img/c_cursor_fechado.png'), pointer;
}

input#contrast:checked~#page-wrapper nav ul li label#contrast-label {
    cursor: url('../img/c_cursor_aberto.png'), pointer;
}

input#contrast:not(:checked)~#page-wrapper nav ul li label#contrast-label {
    cursor: url('../img/cursor_fechado.png'), pointer;
}

input#contrast:checked~#page-wrapper nav ul li label span#botao-contraste,
input#contrast:checked~#page-wrapper nav ul li label span#botao-animation {
    filter: invert(100%)
}

nav ul li label span#botao-contraste {
    background-image: url(../img/botao_contraste.svg);
    background-repeat: no-repeat;
    height: 25px; 
    width: 25px;
}

input#contrast:checked~#page-wrapper nav ul li label:focus,
input#contrast:checked~#page-wrapper nav ul li a:focus,
input#contrast:checked~#page-wrapper nav ul li label:active,
input#contrast:checked~#page-wrapper nav ul li a:active,
input#contrast:checked~#page-wrapper nav a:focus {
    border-color: var(--c-cor-fundo) !important;
    cursor: url('../img/c_cursor_aberto.png'), pointer;
}

input#contrast:checked~#page-wrapper nav ul li label:hover,
input#contrast:checked~#page-wrapper nav ul li a:hover,
input#contrast:checked~#page-wrapper nav a:hover {
    border-color: var(--c-cor-fundo) !important;
}

input#contrast:checked~#page-wrapper #zip {
    border-left: 0.5em solid var(--c-cor-secundaria) !important;
}

input#contrast:checked~#page-wrapper code,
input#contrast:checked~#page-wrapper code:hover {
    background-color: var(--c-cor-secundaria);
    color: var(--c-cor-fundo);
}

input#contrast:checked~#page-wrapper #unzip {
    border-left-color: var(--c-cor-secundaria);
}

input#contrast:checked~#page-wrapper #unzip:hover {
    border-left-color: var(--c-cor-fundo);
}

input#contrast:checked~#page-wrapper .prompt-list li::before {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    background-image: url("../img/cifrao-preto-novo.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin-right: 0.7em;
    transform: translateY(0.6em);
}

input#contrast:checked~#page-wrapper .prompt {
    border-right-color: var(--c-cor-secundaria);
    background-color: var(--c-cor-secundaria);
    color: var(--c-cor-fundo);
}

input#contrast:checked~#page-wrapper li:hover .prompt {
    border-right-color: var(--c-cor-fundo);
}

input#contrast:checked~#page-wrapper .destaque,
input#contrast:checked~#page-wrapper address .at:after {
    color: var(--cor-destaque-lighter);
}

input#contrast:checked~#page-wrapper button {
    background-color: var(--c-cor-primaria) !important;
    color: var(--c-cor-fundo) !important;
    box-shadow: 0 0 0 .2rem var(--c-input-box-shadow);
}

input#contrast:checked~#page-wrapper button:focus, 
input#contrast:checked~#page-wrapper button:hover {
    box-shadow: 0 0 0 0.2rem var(--c-btn-boxshadow) !important;
    border: 2px solid var(--c-cor-fundo) !important;
}

input#contrast:checked~#page-wrapper input {
    box-shadow: 0 0 0 0.2rem var(--c-input-box-shadow);
}

input#contrast:checked~#page-wrapper .form-signin .form-control:focus,
input#contrast:checked~#page-wrapper .form-signin .form-control:hover {
    box-shadow: 0 0 0 .2rem var(--c-input-focus-box-shadow);
}

input#contrast:checked~#page-wrapper .btn-primary {
    background-color: var(--c-cor-primaria) !important;
    color: var(--c-cor-fundo) !important;
    border-color: var(--c-cor-primaria) !important;
}

input#contrast:checked~#page-wrapper #cookie-bar {
    border-top: 1px solid var(--c-cor-primaria) !important;
}

input#contrast:checked~#page-wrapper .btn-primary:focus,
input#contrast:checked~#page-wrapper .btn-primary:hover {
    box-shadow: 0 0 0 0.2rem var(--c-btn-boxshadow) !important;
    border: 2px solid var(--c-cor-fundo) !important;
}

nav ul li label span#botao-animation {
    background-image: url("../img/botao_animacao_on.svg");
    background-repeat: no-repeat;
    height: 25px; 
    width: 25px;
}

input#animation:checked~#page-wrapper nav ul li label span#botao-animation {
    background-image: url("../img/botao_animacao_off.svg");
}

input#animation:checked~#page-wrapper, 
input#animation:checked~#page-wrapper div,
input#animation:checked~#page-wrapper nav ul li label,
input#animation:checked~#page-wrapper input,
input#animation:checked~#page-wrapper button,
input#animation:checked~#page-wrapper a,
input#animation:checked~.tooltip {
    transition: none !important;
}

#page-wrapper {
    background-color: var(--cor-fundo) !important;
    min-height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    text-align: center;
    color: var(--cor-primaria);
}

h1 {
    font-family: 'Space Grotesk', serif !important;
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

.subtitulo {
    font-size: 1.2em;
}

.page-title {
    font-family: 'Space Grotesk', serif !important;
    font-size: 3em;
}

.jumbotron {
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    color: var(--cor-primaria);
    background-color: inherit !important;
}

.smile {
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg);
}

.smile::after {
    content: ":)";
}

.chaves-left::after {
    content: '{';
}
    
.chaves-right::after {
    content: '}';
}

table {
    color: var(--cor-primaria)
}

p {
    margin-bottom: 0;
    color: var(--cor-primaria);
}

label {
    margin-bottom: 0;
}

label[for="contrast"], label[for="animation"] {
    padding-top: 14px;
    padding-bottom: 14px;
}

footer {
    font-size: 0.7em;
    padding: 0 32px 10px 32px;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: inherit;
    font-weight: bold;
}

#lista-de-regras {
    list-style-type: none;
    text-align: left;
    padding: 0;
    line-height: 1.75;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/*.prompt-list {
    list-style-type: none;
    list-style-image: url("../img/cifrao-preto.png") !important;
}
*/
.prompt-list li::before {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    background-image: url("../img/cifrao-white-novo.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin-right: 0.7em;
    transform: translateY(0.6em);
}

.prompt::before {
    content: '~$ ';
}

.prompt {
    border-right: 0.5em solid var(--cor-secundaria);
}

code, .prompt {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    font-weight: bold;
    padding: 0.2em;
}

noscript h2 {
    font-weight: bold;
}

noscript div.jumbotron {
    font-size: 1.15em;
    padding: 15px 0;
    background-color: var(--warning-background) !important;
    border-radius: 0;
    color: var(--warning) !important;
}

noscript p {
    padding: 0 3em;
    line-height: 1.75;
}

noscript ul {
    text-align: left;
}

ul {
    color: var(--cor-primaria);
}

li .prompt {
    margin-right: 0.5em;
}

li:hover .prompt {
    border-right-color: var(--cor-primaria);
}


/*
O efeito abaixo foi comentado para evitar problemas a indivíduos com epilepsia fotossensível.
Se for desejável utilizar o efeito, basta comentar o estilo acima e descomentar o estilo abaixo.
*/

/*
li:hover .prompt {
    animation: blinker 0.5s step-end infinite alternate;
    border-right-color: black;
}

@keyframes blinker { 
    50% { border-right-color: #FFF; } 
}
*/

#espaco {
    font-size: 1pt;
}

#unzip {
    border-left: 0.5em solid var(--cor-secundaria);
}

#unzip:hover {
    border-left-color: var(--cor-primaria);
}


/*
O efeito abaixo foi comentado para evitar problemas a indivíduos com epilepsia fotossensível.
Se for desejável utilizar o efeito, basta comentar o estilo acima e descomentar o estilo abaixo.
*/


/*
#unzip:hover {
    animation: blink 0.5s step-end infinite alternate;
    border-left-color: #000;
}

@keyframes blink { 
    50% { border-left-color: #FFF; } 
}
*/

::placeholder {
    font-family: 'Muli', sans-serif;
    text-align: center;
    color: var(--input-cor-placeholder) !important;
}

nav {
    background-color: var(--cor-secundaria);
    margin: 0 auto;
    color: var(--cor-primaria);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul li {
    display: inline-block;
}

nav ul li label, nav ul li a {
    display: block;
    font-size: 1.25em;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
    color: var(--cor-primaria);
    cursor: url('../img/cursor_fechado.png'), pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border .4s ease;
}

label {
    color: var(--cor-primaria);
}

nav ul li label:active,
nav ul li a:active,
nav ul li label:focus,
nav ul li a:focus,
#link-logo:focus {
    cursor: url('../img/cursor_aberto.png'), pointer;
    color: var(--cor-primaria);
    text-decoration: none;
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
    outline: none;
}

nav ul li a:hover,
nav ul li label:hover,
#link-logo:hover {
    color: var(--cor-primaria);
    text-decoration: none;
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
}

input[name=collapse-btn],
input[name=nav],
input#contrast,
input#animation,
input#checkbox-accesskeys,
input#close-alert-button,
#collapsibleNavbar {
    display: none;
}

.navbar-toggler {
    width: 5em;
    margin: 5px 0;
    border: 2px solid var(--cor-primaria) !important;
}

.navbar-toggler:hover {
    cursor: pointer;
}

#main,
#como-jogar,
#contatos,
#ranking, 
#sobre-acessibilidade {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: max-height 0s, opacity .9s .3s ease-in-out;
}

input#inicio:checked~#main,
input#rank:checked~#ranking,
input#regras:checked~#como-jogar,
input#contato:checked~#contatos,
input#acessibilidade:checked~#sobre-acessibilidade {
    opacity: 1;
    height: auto;
}

input#inicio:not(:checked)~#main,
input#rank:not(:checked)~#ranking,
input#regras:not(:checked)~#como-jogar,
input#contato:not(:checked)~#contatos, 
input#acessibilidade:not(:checked)~#sobre-acessibilidade {
    background-color: transparent !important;
    visibility: hidden;
}

#inicio:checked~nav div ul li #inicio-label,
#rank:checked~nav div ul li #rank-label,
#regras:checked~nav div ul li #regras-label,
#contato:checked~nav div ul li #contato-label,
#acessibilidade:checked~nav div ul li #acessibilidade-label {
    font-weight: bold;
}

#inicio:not(:checked)~nav div ul li #inicio-label .sr-only,
#rank:not(:checked)~nav div ul li #rank-label .sr-only,
#regras:not(:checked)~nav div ul li #regras-label .sr-only,
#contato:not(:checked)~nav div ul li #contato-label .sr-only,
#acessibilidade:not(:checked)~nav div ul li #acessibilidade-label .sr-only {
    visibility: hidden;
}

#placar {
    padding: 0 0 20px 0;
}

.alert{
    line-height: 1.75;
}

.alert-success {
    background-color: var(--success-background);
    color: var(--success);
    margin: 20px auto 0 auto;
}

.alert-danger {
    background-color: var(--warning-background);
    color: var(--warning);
    margin: 20px auto 0 auto;
}

input {
    min-width: 70px !important;
    max-width: 99.99% !important;
    margin: 0 0 5px 0;
    transition: width 0.25s;
    height: 1.25em;
    text-align: center;
    font-family: 'Muli', sans-serif;
    border-radius: 1px;
    color: var(--cor-primaria);
    background-color: var(--input-cor-fundo) !important;
    filter: none;
    box-shadow: 0 0 0 .2rem var(--input-box-shadow);
}

input#contrast:checked~#page-wrapper nav .vw-text-active,
input#contrast:checked~#page-wrapper nav .vw-text-active:hover {
    color: var(--c-cor-fundo) !important;
    border: 2px solid var(--cor-secundaria);
}

input#contrast:checked~#page-wrapper nav .vw-text:hover {
    color: var(--c-cor-fundo) !important;
}

input#contrast:checked~#page-wrapper #cookie-bar .btn-primary .vw-text-active,
input#contrast:checked~#page-wrapper #cookie-bar .btn-primary .vw-text-active:hover {
    color: var(--c-cor-fundo) !important;
    border: 2px solid var(--cor-secundaria);
}

input#contrast:checked~#page-wrapper #cookie-bar .btn-primary .vw-text:hover {
    color: var(--c-cor-fundo) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0 .2rem var(--input-box-shadow);
}

button {
    border-radius: 5px;
    border: 2px solid transparent !important;
    cursor: pointer;
    margin: 5px 0 0 0;
    width: 100px;
    background-color: var(--cor-fundo) !important;
    color: var(--cor-primaria) !important;
    height: 45px;
}

button:focus, 
button:hover {
    box-shadow: 0 0 0 0.2rem var(--btn-boxshadow) !important;
}

button.navbar-toggler {
    background-color: var(--cor-secundaria) !important;
}

address {
    font-size: 1.4em;
    font-style: normal;
}

address .at:after {
    color: var(--cor-destaque-lighter);
    content: '@'; 
}

address .sinal-menor:before {
    content: '<';
}

address .sinal-maior:after {
    content: '>';
}

address .sinal-menor,
address .sinal-maior {
    color: var(--cor-primaria);
}

address a {
    color: var(--cor-primaria) !important;
}

.contato {
    display: block;
    color: var(--cor-primaria);
    font-weight: normal;
    font-size: 0.82em;
}

.address-title {
    display: block;
    font-weight: bold;
    margin: 10px 0;
    color: var(--cor-primaria);
}

.address-title:first-child {
    font-size: 1.1em;
}

.address-title:nth-child(5) {
    font-size: 0.88em;
}

.nome-contrib {
    font-size: 0.62em;
}

.destaque {
    color: var(--cor-destaque-lighter);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    padding-top: 0;
    margin: 0 auto;
}

.form-signin label {
    margin-bottom: 3px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 1em;
    border: 2px solid var(--cor-fundo);
    color: var(--cor-secundaria);
}

.form-signin .form-control:focus,
.form-signin .form-control:hover {
    z-index: 2;
    border-color: var(--form-border-color);
    box-shadow: 0 0 0 .2rem var(--input-focus-box-shadow);
}

#lista-de-regras .btn-dark {
    box-shadow: 0 0 0 0.2rem var(--btn-boxshadow);
    margin: 5px 5px 5px 5px;
    height: 35px;
}

input#contrast:checked~#page-wrapper #lista-de-regras .btn-dark {
    box-shadow: 0 0 0 0.2rem var(--c-input-focus-box-shadow);
    border: 2px solid var(--c-cor-fundo)!important;
}

#sobre-acessibilidade .acess-conteudo { 
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#sobre-acessibilidade .acess-conteudo p {
    padding: 0 0 20px 0;
    line-height: 1.75
}

#div-accesskeys span {
    display: block;
    margin-bottom: 0.5em;
}

.ul-acessibilidade {
    display: block;
    text-align: left;
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
    line-height: 1.75 
}

.h3-acessibilidade {
    font-size: 1.4em;
    font-weight: bold;
}

.form-signin input[type="number"],
.form-signin input[type="password"],
.form-signin input[type="text"] {
    border-radius: 5px;
}

#logout {
    color: var(--cor-primaria);
    text-decoration: none;
}

.container-fluid {
    margin: 0;
}

#creative-commons:hover {
    text-decoration: inherit;
}

.erro {
    overflow-wrap: break-word;
}

caption {
    caption-side: top;
    color: var(--cor-primaria);
    text-align: center;
    padding-top: 0;
}

#hide-cookie-bar {
    display: none;
}

#hide-cookie-bar:checked~#cookie-bar {
    opacity: 0;
}

#cookie-bar {
    background-color: var(--cor-secundaria) !important;
    color: var(--cor-primaria);
    margin: 0 auto;
    font-size: 0.8em;
    line-height: 1.75;
    opacity: 1;
    overflow: hidden;
    transition: opacity .8s ease-in-out;
}

.btn-primary {
    border: 2px solid transparent;
    background-color: var(--cor-destaque);
}

.btn-primary:active {
    background-color: var(--cor-destaque) !important;
    border-color: var(--cor-destaque-darker) !important;
}

#cookie-bar .btn-primary {
    font-size: 1em;
    margin-left: 5px;
    border-color: var(--cor-destaque);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--cor-destaque-darker);
    border-color: var(--cor-destaque-darker);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

#cookie-bar .btn-primary:hover {
    border-color: var(--cor-destaque-darker);
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:hover {
  box-shadow: 0 0 0 0.2rem var(--btn-boxshadow-cookies)
}

.noscript {
    display: none !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    opacity: 0;
    overflow: hidden;
    color: var(--cor-secundaria) !important;
    visibility: hidden;
}

.overlay:target {
    opacity: 1;
    min-height: 100%;
    visibility: visible;
}


.overlay .cancel {
    position: absolute;
    height: 100%;
    cursor: default;
}

.popup {
    margin: 75px auto;
    padding: 20px;
    background: #fff;
    border: 6px solid white;
    width: 40%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: left;
}

.close{
    position: absolute;
    text-align: center;
    width: 45px;
    height: 45px;
    transition: all 200ms;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.popup .close{
    font-size: 2.3em;
    line-height: 38px;
    top: 7px;
    right: 12px;
    opacity: 0.8;
    color: #666; 
}

.popup .close:focus, .popup .close:hover{
   outline: none;
   transition: none;
   border-radius: 5px;
   box-shadow: 0 0 0 2px var(--cor-secundaria);
   color: #000;
   opacity: 1 !important;
}

.popup .contnt {
    max-height: 400px;
    overflow: auto;
}

.popup h2 {
    margin-top: 0;
}

.popup .contnt p {
    color: var(--cor-secundaria) !important;
    padding: 0 10px 20px 10px;
    width: 95%;
    line-height: 1.75
}

.disable-scroll {
    height: 100%;
    overflow-y: hidden;
}

.disable-click {
    pointer-events: none;
}

@media (max-width: 1200px) {
    .popup {
        width: 70%;
    }
    .popup .contnt p {
        font-size: 0.9em;
    }
}

@media (max-width: 864px) {
    nav ul li label, 
    nav ul li a{
        padding: 0 4px;
    }

    nav ul li #contrast-label,
    nav ul li #animation-label {
        padding: 14px 8px;
    }
    
    noscript .jumbotron .close {
        right: 5px;
    }
}

@media (max-width: 784px) {
    nav ul li label, 
    nav ul li a{
        padding: 0 2px;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        padding: 15px 0;
    }
    img.access-button {
        width: 20% !important;
    }
    #collapsibleNavbar {
        display: block;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: visibility 1s, max-height 0.7s linear, height 0s;
    }
    span.material-icons {
        margin: 0 auto !important;
    }
    input#collapse-btn:checked~#collapsibleNavbar {
        max-height: 450px;
        visibility: visible;
    }
    label[for="collapse-btn"] {
        transition: border .5s linear;
    }
    span.navbar-toggler-icon {
        transition: background-image .5s linear;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='1.9' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }
    input#contrast:checked~#page-wrapper nav label[for="collapse-btn"] {
        border-color: var(--c-cor-fundo) !important;
    }
    input#contrast:checked~#page-wrapper nav label span.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='1.9' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }
    input#collapse-btn:checked~label {
        border: 2px solid var(--cor-primaria) !important;
        border-radius: 5px;
    }
    input#collapse-btn:checked~label span.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='1.9' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    #contrast-container {
        position: absolute;
        right: 60px;
        top: 5px;
    }
    #animation-container {
        position: absolute;
        right: 15px;
        top: 5px;
    }
    #link-logo{
        position: absolute;
        left: 10px;
        top: 4px;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 2.8em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        font-size: 0.9em;
    }
    .page-title {
        font-size: 2.6em;
    }
    /* index */
    .jumbotron {
        padding-top: 1.5em;
    }
    #jumbotron-index {
        padding-bottom: 1.5em;
    }
    #subtitulo-index {
        font-size: 1.1em;
    }
    .popup {
        width: 80%;
        border: 3px solid white; 
    }
    #cookie-bar .btn-primary {
        margin: 10px 0 0 5px;
        font-size: 0.9em;
    }
    #cookie-bar {
        font-size: 0.65em;
    }
    .popup {
        height: 60%;
    }
    .popup h2 {
        margin-right: 40px;
    }
    .contnt {
        height: 85%;
    }
    noscript p {
        font-size: 0.9em;
    }
    /* contato */
    #contatos .jumbotron {
        padding-bottom: 0.5em;
    }
    .address-title:first-child {
        margin: 2px 0;
        font-size: 0.88em;
    }
    .address-title:nth-child(4) {
        margin: 2px 0;
        font-size: 0.78em;
    }
    .contato {
        font-size: 0.62em;
    }
    .nome-contrib {
        font-size: 0.54em;
    }
    /* como jogar */
    #como-jogar .jumbotron {
        padding-bottom: 1.3em;
    }
    #como-jogar ul li{
        margin-bottom: 15px;
    }
    /* página accesibilidade */
    #sobre-acessibilidade ul li {
        margin-bottom: 10px;
    }
    #sobre-acessibilidade .acess-conteudo { 
        font-size: 0.95em;
        width: 85%;
    }

    /* home */
    #jumbotron-home-title {
        padding-bottom: 0.9em;
    }
    #jumbotron-home-dados {
        padding: 1.6em 0.8em;
    }
    #jumbotron-home-form h3 {
        font-size: 1em;
    }
    #jumbotron-home-form {
        padding: 1.5em;
    }
    #placar-individual {
        padding-top: 0em;
    }
    #placar-individual th {
        padding: 3px 10px;
    }
    #placar-individual tbody tr {
        white-space: nowrap;
    }
    /* placar geral */
    #placar th:first-child,
    td:first-child {
        padding-left: 5px;
    }
    #placar th:last-child,
    td:last-child {
        padding-right: 5px;
    }
}
